*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 15px;
  background-color: #F8F8F8;
  width: 100%;
}

h1 {
  font-size: 1.5em;
}

h1.busstop {
  display: inline-block;
  font-weight: 500;
  margin: auto 0;
  text-align: center;
}

h2 {
  font-size: 0.8em;
  color: #000000;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.arrow {
  display: inline-block;
  position: relative;
  color: #525252;
}

.arrow-left {
  color: #525252;
  display: inline-block;
  padding: 5%;
  position: relative;
}

.arrival {
  display: inline-block;
  margin-left: 5%;
  width:30%;
}

.content {
  line-height: 1.5em;
}


.destination {
  display: inline-block;
  margin-left: 7%;
  width: 40%;
}

.emphasized {
  font-style: italic;
}

.headerarrival {
  display: inline-block;
  margin-left: 6%;
  width: 30%;
}

.headerline {
  display: inline-block;
  width: 10%;
}

.headerdestination {
  display: inline-block;
  margin-left: 7%;
  width: 40%;
}

.headercontainer {
  background-color: #E9F1F8;
  font-size: 0.8em;
  font-weight: 500;
  display: inline-block;
  padding: 8px 24px 8px 16px;
  width: 100%;
}

.line {
  color: #020A70;
  display: inline-block;
  font-weight: 600;
  width: 10%;
}

.linerows {
  border-bottom: 1px solid #898789;
  padding: 16px;
}
