body{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
  color: #000000;
}

li.header {
  display: inline-block;
  text-align: left;
  padding-right: 30px;
}


section {
  margin: 0px 16px 0px 16px;
}

.linerows {
  margin: 16px 0px 16px 0px;
}
