*, *:before, *:after {
  box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #F9F9F9;
  width: 100%;
}

h1 {
  font-size: 1.5em;
  margin-top:10%;
  position:relative;
  text-align: center;
}

h2 {
  font-size: 1em;
  color: #000000;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.arrow {
  display: inline-block;
  position: relative;
}

.arrow-left {
  margin: 10px 0px 30px 24px;
}

.arrival {
  display: inline-block;
  top: 15%;
  width:30%;
  margin-left: 8px;
}

.busstop {
  text-align: center;
  font-size: 3em;
  margin: 30px 0px 0px 0px;
}


.content {
  font-size: 1em;
  line-height: 1.8em;
}


.destination {
  display: inline-block;
  margin-left: 32px;
  width: 40%;
}

.emphasized {
  font-style: italic;
}

.headerarrival {
  display: inline-block;
  font-size: 0.8em;
  width: 30%;
}

.headerline {
  display: inline-block;
  font-size: 0.8em;
  width: 15%;
}

.headerdestination {
  display: inline-block;
  font-size: 0.8em;
  width: 40%;
}

.headercontainer {
  background-color: #E9F1F8;
  font-weight: 500;
  display: inline-block;
  padding: 8px 0px 8px 40px;
  width: 100%;
}

.line {
  color: #020A70;
  display: inline-block;
  font-weight: 600;
  width: 10%;
}

.linerows {
  border-bottom: 1px solid #898789;
  padding: 24px;
}
